# Terraform directories and files
**/.terraform/*
**/terraform-provider*/*
*.tfstate
*.tfstate.*
*.terraform*
crash.log

# Files that may contain secrets
terraform.tfvars

# Temporary files
**/*.swp
.DS_Store
